$primary-color: #111111;
$secondary-color: #990000;
$font-stack: helvetica, Arial, san-serif;
$copy-color: #CCCCCC;
$neutral-color: white;

//mixin

@mixin brs($topLeft, $topRight, $bottomLeft, $bottomRight){
	border-top-left-radius: $topLeft;
	border-top-right-radius: $topRight;
	border-bottom-left-radius: $bottomLeft;
	border-bottom-right-radius: $bottomRight;
}

html{
	background-color: $neutral-color;
	font-family: $font-stack;
	font-size: 16px;
	line-height:1.5;
	color: $copy-color;
	height:100%;
}
body{
	background-image: url("../images/lloyd-dirks-74271.jpg");
	background-repeat: no-repeat;
	background-size: 100% 30%;
}
header,
search,
#results{
	width: 80%;
	max-width: 1100px;
	margin: 0 auto;
}
h4{
	color: $secondary-color;
}
h2{
	background-color: $primary-color;
	color: $neutral-color;
	width: 20rem;
	margin-top: 50px;
}
