//base

html{
	background-color: $neutral-color;
	font-family: $font-stack;
	font-size: $font-size;
	line-height:1.5;
	color: $copy-color;
	height:100%;
}

body{
	background-image: url("../images/lloyd-dirks-74271.jpg");
	background-repeat: no-repeat;
	background-size: 100% 30%;
}

header{
	@extend %center-element;
}

search{
	@extend header;
}

#results{
	@extend header;	
}

h4{
	color: $secondary-color;
}

h2{
	background-color: $primary-color;
	color: $neutral-color;
	width: 20rem;
	margin-top: 50px;
}

h3{
	background-color: $primary-color;
	width: 11rem;
	margin-bottom: 0rem;
	margin-top: 6px;
	margin-left: 18rem;
	height: 1rem;
	font-size: 12px;
	}

h1{
	float: left;
}

input{
	background-image: url("../images/search.png");
	background-repeat: no-repeat;
	background-position: 98% 8px;
	background-size: 20px 20px;
	height: 30px;
	width: 520px;
	background-color: #EEEEEE;
	margin-top: 0rem; 
	margin-left: 18rem;
	font-size: 20px;
	margin-bottom: 20px;
}

#results {
	li {
		text-align: center;
		width: calc(100%/3);
		display: inline-block;
		float: left;
		}
 	p {
		text-align: center;
		}
}

results::after{
	content: " ";
	display: block;
	clear: both;
}

#results ul:nth-of-type(3n+1),
#results > p:last-child{
	clear: left;
}

#results > p{
	font-size: 14px;
	@include brs(0,0,0,0);
	padding: .5em 1em;
	background-color: $secondary-color;
	width: 130px;
	color: $primary-color;
	margin: 28rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
}
