//base

html{

	@media(min-width: 375px){
		background-color: $neutral-color;
		font-family: $font-stack;
		font-size: 12px;
		line-height:1.5;
		color: $copy-color;
		height:100%;
	}
	
	@media(min-width: 700px){
		background-color: $neutral-color;
		font-family: $font-stack;
		font-size: 16px;
		line-height:1.5;
		color: $copy-color;
		height:100%;
	}
}

body{
	
	@media(min-width: 375px){
		background-image: url("../images/lloyd-dirks-74271.jpg");
		background-repeat: no-repeat;
		background-size: 100% 30%;
	}
	@media(min-width: 700px){
		background-image: url("../images/lloyd-dirks-74271.jpg");
		background-repeat: no-repeat;
		background-size: 100% 30%;
	}
}

header{
	@media(min-width: 375px){
		margin-left: auto;
		margin-right: auto;
		}
		@media(min-width: 700px){
		margin-left: auto;
		margin-right: auto;
		}
}

search{
	@media(min-width: 375px){
		margin-left: auto;
		margin-right: auto;
	}
	@media(min-width: 700px){
		margin-left: auto;
		margin-right: auto;
	}
}

#results{
	@media(min-width: 375px){
		margin-left: auto;
		margin-right: auto;
		}
	@media(min-width: 700px){
		margin-left: auto;
		margin-right: auto;
	}		
}

li h3{
	@media(min-width: 375px){
	color: $secondary-color;
	}
	@media(min-width: 700px){
	color: $secondary-color;
	}
}

h3{
	@media(min-width: 375px){
	background-color: $primary-color;
	color: $neutral-color;
	width: 12px;
	margin-top: 7px;
	}
	@media(min-width: 700px){
	background-color: $primary-color;
	color: $neutral-color;
	width: 14px;
	margin-top: 7px;
	}
	
}

h2{
	@media(min-width: 375px){
		background-color: $primary-color;
		width: 11rem;
		margin-bottom: 0rem;
		margin-top: 6px;
		margin-left: 18rem;
		height: 1rem;
		font-size: 12px;
	}
	@media(min-width: 700px){
		background-color: $primary-color;
		width: 11rem;
		margin-bottom: 0rem;
		margin-top: 6px;
		margin-left: 18rem;
		height: 1rem;
		font-size: 16px;
	}
}

h1{
	@media(min-width: 375px){
		float: left;
	}
	@media(min-width: 700px){
		float: left;
	}
}

#searchField{
	@media(min-width: 375px){
		height: 15px;
		width: 200px;
		background-color: #EEEEEE;
		margin-top: 0rem; 
		margin-left: 18rem;
		font-size: 12px;
		margin-bottom: 20px;
		padding-right: 25px;
	}
	@media(min-width: 700px){
		height: 15px;
		width: 500px;
		background-color: #EEEEEE;
		margin-top: 0rem; 
		margin-left: 18rem;
		font-size: 12px;
		margin-bottom: 20px;
		padding-right: 25px;
	}
}

#submitSearch{
	@media(min-width: 375px){
		background-image: url("../images/search.png");
		background-repeat: no-repeat;
		width: 20px;
		height: 20px;
		background-size: 15px 15px;
		border: none;
		margin-left: -25px;
}
	@media(min-width: 700px){
		background-image: url("../images/search.png");
		background-repeat: no-repeat;
		width: 20px;
		height: 20px;
		background-size: 15px 15px;
		border: none;
		margin-left: -25px;
}
}

#results {
	@media(min-width: 375px){
	li {
		text-align: center;
		width: calc(100%/3);
		display: inline-block;
		float: left;
		}
 	p {
		text-align: center;
		}
}

@media(min-width: 700px){
	li {
		text-align: center;
		width: calc(100%/3);
		display: inline-block;
		float: left;
		}
 	p {
		text-align: center;
		}
}
}


results::after{
	@media(min-width: 375px){
		content: " ";
		display: block;
		clear: both;
}
}

#results ul:nth-of-type(3n+1),
#results > p:last-child{
	@media(min-width: 375px){
	clear: left;
}
}

#results > p{
	@media(min-width: 375px){
		font-size: 10px;
		@include brs(1,0,0,0);
		padding: .5em 1em;
		background-color: $secondary-color;
		width: 130px;
		color: $primary-color;
		margin: 28rem;
		margin-bottom: 2rem;
		margin-top: 2rem;
	}
}
header{
	margin-left: auto;
	margin-right: auto;
}

search{
	margin-left: auto;
	margin-right: auto;
}

#results{
	margin-left: auto;
	margin-right: auto;
}